<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Mascota consultada:{{mascota_consultada}}<br>
    <!-- si articulos trae registros devuelve un true -->
    {% if mascota %}
        <p>Mascotas encontradas:{{mascota|length}} mascota </p>
        <br>
        <table border="1">
            {% for masc in mascota %}
            <tr>
                <td> {{masc.nroregistro}}</td>
                <td> {{masc.animal}}</td>
                <td> {{masc.raza}}</td>
                <td> {{masc.genero}}</td>
                <td> {{masc.peso}}</td>
                <td> {{masc.edad}}</td>

            </tr>
            {% endfor %}
            
            
        </table>
        {% else %}
            <p>No existen mascotas con esa preferencia</p>
        {% endif %}
    
    
</body>
</html>