#contenido{
    width: 800px;
    margin: auto;
}

body{
    background: white;
}

.nav-link {
    display: block;
    padding: .1rem 1em;
}

nav {
    shape-outside: border-box;
    font-size: x-large;
}

#contenido {
    width: 1350px;
    margin: auto;
}

section{
    background: white;
}

.h1, h1 {
    color: rgb(60, 60, 240);
    font-size: 2.8rem;
    text-align: center;
    font-family: fantasy;
}

.h2, h2 {
    color: rgb(231, 174, 50);
    font-size: 2rem;
    text-align: -webkit-center;
    font-family: system-ui;
}


img {
    vertical-align: middle;
    border-style: none;
    width: 300px;
}


footer{
    background: #9FECAC;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 100px;
}

.text-primary {
    color: rgb(58, 58, 240);
    font-size: 2.8rem;
    text-align: center;
    font-family: fantasy;
}

.centerTable { margin: 0px auto; }

.small, small {
    font-size: 80%;
    font-weight: 400;
    white-space: pre-wrap;
    text-align: center;
}